<template>
  <section id="skills" class="sub-card">
    <h2>compétences</h2>
    <div class="top-30 d-flex f-row-m f-column-s skills__container">
      <skill
        v-for="(skill, index) in infos"
        :key="`${index}-skill`"
        :skill="skill"
      />
    </div>
  </section>
</template>

<script>
import Skill from "@/components/Skills/Skill.vue";

export default {
  name: "Skills",
  components: { Skill },
  props: {
    infos: {
      type: Array,
      required: true
    }
  }
};
</script>

<style>
@import url("./../../assets/css/skills.css");
</style>
