<template>
  <div class="skill__unit" :title="percentTitle">
    <h3>{{ skill.name }}</h3>
    <div class="skill__progress w-100">
      <div :class="percentClass"></div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Skill",
  props: {
    skill: {
      type: Object,
      required: true
    }
  },
  computed: {
    percentClass() {
      return `skill__percentage w-${this.skill.percent}`;
    },
    percentTitle() {
      return `${this.skill.percent}%`;
    }
  }
};
</script>
