.headband-container {
    margin: 10px 0 0 10px;
    display: inline-block;
    padding: 0 15px;
}
.headband {
    justify-content: center;
}
.headband a {
    text-decoration: none;
    color: var(--color-primary);
}
.headband a:first-child {
    margin-right: 10%;
}
.headband i, .headband svg {
    font-size: 35px;
}

/************************************************ MOBILE SECTION START ************************************************/
@media screen and (max-width: 1199px) {
    .headband-container {
        display: flex;
    }
    .headband i, .headband svg {
        font-size: 45px;
    }
}
/************************************************ MOBILE SECTION END ************************************************/
