.history__unit {
    margin-top: 25px;
}
.history__unit:first-child, .history__unit:nth-child(0n+2) {
    margin-top: 0;
}
.history__title {
    font-size: 12pt;
    line-height: 20px;
    font-weight: var(--font-weight-medium);
}
.history__date {
    font-size: 9pt;
    display: block;
    padding: 9px 0;
}
#working-history p, #education-history p {
    padding: 0;
    margin: 0;
    color: #989898;
    line-height: 18px;
    font-weight: var(--font-weight-light);
}

/************************************************ DESKTOP SECTION START ************************************************/
@media screen and (min-width: 1200px) {
    .history__container {
        flex-wrap: wrap;
    }
    .history__container > .history__unit {
        flex: 0 50%;
    }
    .history__unit:nth-child(odd) {
        padding-right: 30px;
    }
}
/************************************************ DESKTOP SECTION END ************************************************/

/************************************************ MOBILE SECTION START ************************************************/
@media screen and (max-width: 1199px) {
    .history__unit {
        margin-bottom: 30px;
    }
    .history__unit:last-child {
        margin-bottom: 0;
    }
}
/************************************************ MOBILE SECTION END ************************************************/
