.profile__name {
    text-transform: uppercase;
    font-weight: var(--font-weight-dark);
    font-size: 12.75pt;
    color: var(--color-black);
}
.profile__job {
    font-size: 9.75pt;
    color: var(--color-text-light-grey);
}
.profile__figure {
    display: block;
    clip-path: polygon(0 9%, 100% 0, 100% 94%, 0% 100%);
}
.profile__figure img {
    width: 100%;
}
.profile__information {
    list-style: none;
    margin: 8px 0px 8px 13.59%;
    padding: 0;
}
.profile__information li {
    border-left: solid 2px #eee;
    padding: 0 0 23px 20px;
    font-size: 10.5pt;
    color: var(--color-grey-marker);
}
.profile__information li:last-child {
    border: 0;
    margin-left: 2px;
    margin-top: -2px;
}
.profile__information li::marker {
    font-size: 10.5pt;
    color: var(--color-grey-marker);
}
.profile__information li::before {
    border-color: var(--color-primary) !important;
    content: "";
    border: solid 2px;
    width: 4px;
    height: 4px;
    border-radius: 50px;
    margin-left: -25px;
    margin-top: 2px;
    background: var(--color-white);
    display: block;
    position: absolute;
}
.profile__information li p {
    margin: 0;
    font-size: 10pt;
    color: var(--color-text-grey);
    line-height: 12px;
}
.profile__information li p span {
    color: var(--color-black);
}
.profile__social-network-container {
    justify-content: center;
    margin-bottom: 10px;
}
.profile__social-network {
    margin-right: 20px;
    text-decoration: none;
    color: var(--color-primary);
}
.profile__social-network:last-child {
    margin: 0;
}
.profile__social-network i, .profile__social-network svg {
    font-size: 28.5pt;
}

/************************************************ DESKTOP SECTION START ************************************************/
@media screen and (min-width: 1200px) {
    .profile__header {
        margin: 7.7% 7.7% 2px 7.7%;
    }
}
/************************************************ DESKTOP SECTION END ************************************************/
