.skill__progress {
    margin: 10px 0 20px;
    display: block;
    height: 5px;
    position: relative;
    border-radius: 50px;
    overflow: visible;
    background-color: #dfdfdf;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}
.skill__percentage {
    background-color: var(--color-primary);
    border-radius: 50px 0 0 50px;
    position: absolute;
    bottom: 0;
    top: 0;
}

/************************************************ DESKTOP SECTION START ************************************************/
@media screen and (min-width: 1200px) {
    .skills__container {
        flex-wrap: wrap;
    }
    .skills__container > .skill__unit {
        flex: 0 50%;
    }
    .skill__unit:nth-child(odd) {
        padding-right: 30px;
    }
}
/************************************************ DESKTOP SECTION END ************************************************/
