<template>
  <div v-show="isLoad" id="wrapper" class="d-flex f-row-m f-column-s">
    <profile :infos="extractProfile" />

    <div class="tab__container d-flex f-column">
      <custom-header />

      <main role="main" class="card main-content">
        <about :infos="extractProfile" />

        <skills :infos="skills" />

        <histories
          :infos="working"
          keyText="working"
          sectionTitle="expériences"
          sectionId="working-history"
        />

        <histories
          :infos="education"
          keyText="education"
          sectionTitle="formation"
          sectionId="education-history"
          isSubCard
        />
      </main>
    </div>
  </div>
</template>

<script>
import api from "@/api";
import About from "@/components/About.vue";
import CustomHeader from "@/components/CustomHeader.vue";
import Histories from "@/components/Histories/Index.vue";
import Profile from "@/components/Profile.vue";
import Skills from "@/components/Skills/Index.vue";

export default {
  name: "Home",
  components: {
    About,
    CustomHeader,
    Histories,
    Profile,
    Skills
  },
  data() {
    return {
      profile: {},
      skills: [],
      education: [],
      working: [],
      isLoad: false
    };
  },
  computed: {
    extractProfile() {
      if (
        this.profile &&
        Array.isArray(this.profile) &&
        this.profile.length > 0
      )
        return this.profile[0];
      else return {};
    }
  },
  async beforeCreate() {
    [
      this.profile,
      this.skills,
      this.education,
      this.working
    ] = await Promise.all([
      api.getProfile(),
      api.getSkills(),
      api.getEducation(),
      api.getWorking()
    ]);

    this.isLoad = true;
  }
};
</script>

<style>
@import url("./../assets/css/main.css");
@import url("./../assets/css/print.css");
</style>
