<template>
  <section id="about-me">
    <h2>à propos de moi</h2>
    <p class="top-30" v-html="infos.description"></p>
  </section>
</template>

<script>
export default {
  name: "About",
  props: {
    infos: {
      type: Object,
      required: true
    }
  }
};
</script>
