<template>
  <header>
    <nav class="card navbar d-flex f-row">
      <ul class="navbar__tabs d-flex f-row">
        <li>
          <a class="navbar__a d-flex" href="#about-me">
            <font-awesome-icon icon="home" />
          </a>
        </li>
        <li>
          <a href="#skills">Compétences</a>
        </li>
        <li>
          <a href="#working-">Expériences</a>
        </li>
        <li>
          <a href="#education-history">Formation</a>
        </li>
      </ul>

      <div class="navbar__social-networks d-flex f-row">
        <a
          class="navbar__network-a"
          target="_blank"
          href="https://gitlab.com/cv-appelius/vuejs"
          title="Cliquer pour voir le code"
        >
          <font-awesome-icon icon="code" />
        </a>
      </div>
    </nav>
  </header>
</template>

<script>
export default {
  name: "CustomHeader"
};
</script>

<style>
@import url("./../assets/css/navbar.css");
</style>
