<template>
  <div class="profile__container card d-flex f-column">
    <div class="d-flex f-column profile__header">
      <span class="profile__name" v-text="infos.name" />
      <span class="profile__job" v-text="infos.jobTitle" />
    </div>

    <div class="profile__figure">
      <img :src="`${publicPath}img/index.jpg`" alt="Photo de profil" />
    </div>

    <ul class="profile__information">
      <li>
        <p>
          <span>Nom&nbsp;:</span>
          {{ infos.name }}
        </p>
      </li>
      <li>
        <p>
          <span>Date de naissance&nbsp;:</span>
          {{ birthdate }}
        </p>
      </li>
      <li>
        <p>
          <span>Email&nbsp;:</span>
          {{ infos.email }}
        </p>
      </li>
    </ul>

    <div class="profile__social-network-container d-flex f-row">
      <a
        class="profile__social-network"
        target="_blank"
        href="https://gitlab.com/AppeliusTheo"
      >
        <font-awesome-icon :icon="['fab', 'gitlab']" />
      </a>
      <a
        class="profile__social-network"
        target="_blank"
        href="https://www.linkedin.com/in/appelius"
      >
        <font-awesome-icon :icon="['fab', 'linkedin']" />
      </a>
    </div>
  </div>
</template>

<script>
export default {
  name: "Profile",
  props: {
    infos: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      publicPath: process.env.BASE_URL
    };
  },
  computed: {
    birthdate() {
      if (!this.infos || Object.keys(this.infos).length === 0) {
        return "";
      }

      const optionsDate = {
        year: "numeric",
        month: "long",
        day: "numeric"
      };

      return new Date(this.infos.birthday.date).toLocaleDateString(
        undefined,
        optionsDate
      );
    }
  }
};
</script>

<style>
@import url("./../assets/css/profile.css");
</style>
