<template>
  <div class="history__unit">
    <div class="history__header d-flex f-column">
      <span class="history__title" v-text="history.jobTitle" />
      <span class="history__date" v-text="dateText" />
    </div>
    <p>{{ history.description }}</p>
  </div>
</template>

<script>
export default {
  name: "History",
  props: {
    history: {
      type: Object,
      required: true
    }
  },
  computed: {
    dateText() {
      return `${this.history.from} - ${this.history.to}`;
    }
  }
};
</script>
