<template>
  <section :id="sectionId" :class="sectionClass">
    <h2>{{ sectionTitle }}</h2>
    <div class="top-30 d-flex f-row-m f-column-s history__container">
      <history
        v-for="(history, index) in infos"
        :key="`${index}-${keyText}`"
        :history="history"
      />
    </div>
  </section>
</template>

<script>
import History from "@/components/Histories/History.vue";

export default {
  name: "Histories",
  components: { History },
  props: {
    sectionId: {
      type: String,
      required: true
    },
    sectionTitle: {
      type: String,
      required: true
    },
    infos: {
      type: Array,
      required: true
    },
    keyText: {
      type: String,
      required: true
    },
    isSubCard: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  computed: {
    sectionClass() {
      let customClass = null;

      if (this.isSubCard) customClass = "sub-card";

      return customClass;
    }
  }
};
</script>

<style>
@import url("./../../assets/css/history.css");
</style>
