<template>
  <div id="app">
    <div class="card headband-container">
      <div class="d-flex d-row headband w-100">
        <a
          href="https://php.appelius-theo.fr"
          target="_blank"
          title="Voir aussi en PHP"
        >
          <font-awesome-icon :icon="['fab', 'php']" />
        </a>

        <a
          href="https://appelius-theo.fr"
          target="_blank"
          title="Voir aussi en HTML & JavaScript natif"
        >
          <font-awesome-icon :icon="['fab', 'html5']" />
        </a>
      </div>
    </div>

    <router-view />
  </div>
</template>

<style>
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,900");
@import url("./assets/css/normalize.css");
@import url("./assets/css/headband.css");
</style>
